          <div style="margin: 70px;">
            <h1 class="wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="1s">
              Our blog
            </h1>
            <div class="lead wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.3s">
              Success is no accident. It is hard work, <strong>perseverance</strong>, learning, sacrifice and most of all, 
              <span class="colour"><strong>love</strong></span> of what you are doing or <span class="colour">learning</span> to do. 
            </div>
          
          <div class="row">
        <div class="pad30"></div>
    <div class="col-md-8">
    <%= link_to 'New Blog Post', new_blog_path, method: :get %>
    <br>
    <%= link_to 'Go Back To Home Page', url_for('../../'), method: :get %>
    <br>
    <!-- 1-->
    <% @blogs.each do |blog| %>
      
        <h1 class="blog-title"><%= blog.title %></h1>
          <h6>
            <%= blog.created_at %>
          </h6>       
          <p>
            <%= blog.message %> 
          </p> 
          
      <div class="pad45"></div>  
      <% end %>    
    </div>
    
    <!-- sidebar -->
      
      <div class="col-md-3 col-md-offset-1">
    <aside>
      <div class="input-group">
        <input class="form-control" placeholder="Search - not working yet" name="s" id="s" type="text">
      </div>
        
      <div class="pad30"></div> 
        <h6>Quote of the week</h6>
          <p>
            "Ruby is cool and rails is cool too!"
          </p>
        
       
        
      </aside>
    </div>
  </div>
  </div>
  
  <!-- FUTURE PAGINATION ??--> 
 