<div style="margin:50px 0 0 50px;" class="jumbotron">
<h1>Listing blogs</h1>
</div>

<div style="margin-left:50px;" class="well">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.message %></td>
        <td><%= link_to 'Show', blog, method: :get %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog), method: :get %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path, method: :get %>

<%= link_to 'Go Back To Home Page', url_for('../../'), method: :get %>
</div>