<div style="margin:50px 0 0 50px;">
<p id="notice"><%= notice %></p>
</div>
<div style="margin:0 50px 0 50px;" class="jumbotron">

<h3>
  <em class="title"><%= @blog.title %></em>
</h3>

<h4>
  <em>by&nbsp;</em><%= @blog.user.name %>
</h4>

<p class="message">
  <%= @blog.message %>
</p>

<% if @blog.user == current_user %>
<%= link_to 'edit', edit_blog_path(@blog), method: :get %>&nbsp;|&nbsp;
      <%= link_to 'delete', blog, method: :delete,
         data: { confirm: "You sure?" }%>
<% end %>


</div>
