<div style="margin:50px 0 0 10px;">
<p id="notice"><%= notice %></p>
</div>
<div style="margin:10%;" class="jumbotron">

<h3 style="margin-bottom:30px;">
  <em class="title"><%= @blog.title %></em>
</h3>

<h4 style="margin-bottom:30px;">
  <em>by&nbsp;</em>
  <% if signed_in? %>
  <%= link_to @blog.user.name, user_path(@blog.user) %>
  <% else %>
  <%= @blog.user.name %>
  <% end %>
</h4>

<p class="message line_height">
  <%= auto_link(@blog.message) %>
</p>

<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.comment %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@blog, @blog.comments.build]) do |f| %>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<% if @blog.user == current_user %>
<%= link_to 'edit', edit_blog_path(@blog), method: :get %>&nbsp;|&nbsp;
      <%= link_to 'delete', @blog, method: :delete,
         data: { confirm: "You sure?" }%>&nbsp;|&nbsp;
<% end %>
<%= link_to 'back', :back, method: :get %>


</div>
