<div style="margin:50px 0 0 50px;" class="jumbotron">
<p id="notice"><%= notice %></p>
</div>
<div style="margin-left:50px;" class="well">
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @blog.message %>
</p>

<% if @blog.user == current_user %>
<%= link_to 'edit', edit_blog_path(@blog), method: :get %>&nbsp;|&nbsp;
      <%= link_to 'delete', blog, method: :delete,
         data: { confirm: "You sure?" }%>
<% end %>


</div>
