<div style="margin:50px 0 0 50px;" class="jumbotron">
<p id="notice"><%= notice %></p>
</div>
<div style="margin-left:50px;" class="well">
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @blog.message %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog), method: :get %> |
<%= link_to 'New Blog', new_blog_path, method: :get %> |
<%= link_to 'Back', blogs_path, method: :get %>
<br>
<%= link_to 'Go Back To Home Page', url_for('../../'), method: :get %>
</div>
