<p id="notice"><%= notice %></p>
<% provide(:title, @user.name) %>
<div class="row" style="margin:10% 0 5% 5%;">
  <aside class="span4">
    <section>
      <h2 style="margin:0 0 24px 50px;">
        <%= @user.name %>
      </h2>
      <h2 style="margin:0 0 124px 50px;">
        <%= gravatar_for @user %>  
      </h2>
      
      <!-- Maybe add github link here -->

    </section>
  </aside>
  <div class="span8">
  <div class="jumbotron bio">
  <aside>
  <h2>bio</h2>
  <%= @user.bio %>
  </aside>
  </div>
                 
    <% if @user.blogs.any? %>
      <h3>Blogs (<%= @user.blogs.count %>)</h3>
      <ol class="blogs">
        <%= render @blogs %>
      </ol>
      <br>
      <%= will_paginate @blogs %>
    <% end %>
  </div>
</div>


