

<% @meetup["results"].each do |result| %>

<div class="col-sm-6 col-lg-6  wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
        <div class="price-plan">
			<div class="price-plan-top">
            	<a class="price-plan-link" href="<%= "http://www.meetup.com/kcruby/events/#{result["id"]}"%>">
				<h2><%= result["name"] %></h2>
				<div class="price">
	            <% t = Time.at(result["time"]/1000.0) %>
				<span class="dollar"><span style="font-size:.8em;"><%= t.strftime("%B") %></span></span><span class="amt"><%= t.strftime("#{t.day.ordinalize}") %></span> <span class="mo"><%= t.strftime("%Y") %></span>
                <p class="price-breakdown">
                		<br><span style="font-size:1.5em;"><span style="font-size:1.5em;"><%= t.strftime("%A") %>&nbsp;&nbsp;&nbsp;</span><br><br><span style="font-size:1.5em;"</span><%= t.strftime("%-I") %></span><span style="font-size:1.2em;">:00pm</span>&nbsp;to&nbsp;<span style="font-size:1.5em;"><% dur = Time.at((result["time"]/1000)+(result["duration"]/1000)) %><%= dur.strftime("%-I") %></span><span style="font-size:1.2em;">:00pm</span></span>
                </p>
              </div>
            </a>
          		</div>
				<div class="info-wrapper">
				<ul class="list-group">
					<li style="font-size:1.2em;"><%= strip_tags(result["description"]) %></li>
				</ul>
					<a href="<%= "http://www.meetup.com/kcruby/events/#{result["id"]}"%>" class="btn"><span style="font-size:1.4em;">RSVP</span><br>on meetup.com</a>
				</div>
			</div>
		</div>

		<div><span style="font-style:italic;">Where we're meeting:&nbsp;</span><span style="font-size:1.4em;font-weight:bold;"><%= result["venue"]["name"] %></span></div>
				<div id="google-maps">
					<div class="google-maps">
					</div>
				</div>

		<%= javascript_tag do %>
		    $(".google-maps").gmap3({
			marker:{
			address:"1901 Main St, San Diego, California",
			options:{ icon: "img/marker.png"}},
			map:{
			options:{
			styles: [ {
			stylers: [ { "saturation":-100 }, { "lightness": 0 }, { "gamma": 0.5 }]},
			],
			zoom: 17,
			scrollwheel:false,
			draggable: false }
			}
			});
		<%= end %>


<% end %>