<!DOCTYPE html>
<html>
<head>
  <title>Kcruby</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/ico" href="/assets/images/favicon.ico">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!--HEADER-->
		<div id="header"> 
			<div class="col-sm-12 col-lg-12">
				<div class="row">
			<!--LOGO-->	
		<div id="logo">
			<a class="scroll" href="#home"><img src="/assets/images/logo.png" alt="logo" /></a>
		</div>
			<!--//LOGO-->
		
		<!--MENU-->
			<ul id="menu">
			    <!-- TODO: change 'href' links to 'link_to' -->
				<li><a class="scroll" href="#"><%= link_to 'Home', url_for('../../'), method: :get %></a></li>
				<li><a class="scroll" href="#"><%= link_to 'New Post', new_blog_path, method: :get %></a></li>
				<li><a class="scroll" href="#"><%= link_to 'All Posts', blogs_path, method: :get  %></a></li>
				<li><a class="scroll" href="#"><%= link_to 'Contact', url_for('../../#contact'), method: :get  %></a></li>
			</ul>
			<!--//MENU-->
		<!--RESPONSIVE TOGGLE-->
		<div id="nav-toggle">
			<i class="fa fa-bars"></i>
		</div>
	<!--//RESPONSIVE TOGGLE-->
		</div>
	</div>
		</div>
		<!--//HEADER-->

	<%= yield %> <!-- Need to update header links for blog -->
							
							<!--START FOOTER--> 		
								<footer>			
								
								<div class="center footer">
								<!-- UP TO TOP -->	
									<div class="wow bounce" data-wow-offset="80" data-wow-duration="2s">
										<a href="#home" class=" scroll">
											<span class="fa-stack fa-lg">
												<i class="fa fa-circle fa-stack-2x "></i>
												<i class="fa fa-angle-double-up fa-stack-1x fa-inverse"></i>
											</span></a>
										</div>
									
									<div id="copyright" class="wow bounceIn" data-wow-offset="80" data-wow-duration="2s">&copy; 2014 FLAIR DESIGN STUDIO
									<br>
									<a href="http://www.spiralpixel.com">Template by Spiral Pixel</a>
								</div>
							</div>
						</footer>
					<!--//END--> 
<!--SCRIPTS--> 
<script type="text/javascript">
//<![CDATA[
	$(document).ready(function() {
	$(".wallpapered").wallpaper();
	});
//]]>
</script>	

	<script type="text/javascript">
//<![CDATA[
	$(document).ready(function() {
    		$("#clients").owlCarousel({
				autoPlay: 3000, //Set AutoPlay to 3 seconds
				items : 4,
				itemsDesktop : [1199,3],
				itemsDesktopSmall : [979,3]
			});
		});
	//]]>
</script>
</body>
</html>